{# templates/program/season_show.html.twig #}
{% extends "base.html.twig" %}
{% block title %}{{ program.title }} Season {{season.number}} Episode {{episode.number}}{% endblock %}

{% block body %}
<div class="media">

  {# <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster"> #}

  <div class="media-body">

    <h1 class="mt-0">{{ program.title }}</h1>

    <h2 class="mt0">Season {{ season.number}} </h2>

    <div>

    <h2 class="mt0">Episode {{ episode.number}} </h2>

    <p>{{ episode.synopsis }}</p>

  </div>

<a href="/programs/{{ program.id }}/seasons/{{ season.number }}">

    Retour

</a>

{% endblock %}